@using Microsoft.AspNetCore.Mvc.Diagnostics
<div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    @ViewBag.Title
                </div>
                <h2 class="page-title">
                    @ViewBag.SubTitle
                </h2>
            </div>
        </div>
    </div>
</div>